body {
  font-family: "Tajawal", sans-serif;
}


.logo {
  font-family: "Tajawal", sans-serif;
  font-size: 30px;
}

.icon {
  display: none;
}
.moble_container {
  display: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.img_container {
  display: inline-table;
  margin-left: 350px;
  margin-right: 100px;
  margin-top: 150px;
}

.image {
  margin-bottom: 80px;
  max-width: 1800px;
  min-width: 700px;
}

.image_title {
  display: none;
}

.image:hover {
  opacity: 0.9;
}
.image:hover .image_title {
  opacity: 0.9;
  display: block;
}

.text_container {
  position: fixed;
  top: 40px;
  left: 60px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: gray;
}
a:active {
  color: rgb(0, 102, 255);
}

ul {
  padding: 0;
}
li {
  margin-left: 0;
  margin-top: 5px;
  list-style: none;
}

#name {
  font-size: 18px;
  font-family: "Hammersmith One", sans-serif;
  margin-bottom: 40px;
}

nav > ul {
  font-size: 20px;
  line-height: 50px;
  font-family: "Hammersmith One", sans-serif;
}

.work_container {
  display: inline-table;
  margin-left: 350px;
  margin-right: 100px;
  margin-top: 150px;
}

.image_1_1 {
  margin-bottom: 80px;
  max-width: 1600px;
  min-width: 700px;
}

.image_head {
  margin-bottom: 100px;
  max-width: 1350px;
  min-width: 700px;
}
.text {
  font-size: 18px;
  max-width: 800px;
  margin-bottom: 120px;
}

.youtube_container_top {
  position: relative;
  padding-top: 42%;
  height: 0;
  margin-top: 120px;
  margin-left: 350px;
  margin-right: 100px;
}
.youtube_container_top iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube_container {
  position: relative;
  padding-top: 42%;
  height: 0;
  margin-left: 350px;
  margin-right: 100px;
}

.youtube_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.collaberate {
  font-weight: bolder;
  font-style: oblique;
  font-size: 16px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 350px;
  margin-right: 100px;
}
.copy_right {
  color: gray;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 350px;
  margin-right: 100px;
}

.nav_pc > ul > li > ul {
  display: none;
}

.nav_pc > ul > li:hover > ul {
  font-weight: bolder;
  display: block;
  font-family: "Rubik", sans-serif;
  line-height: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.nav_pc > ul > li > ul > li > ul {
  display: block;
  font-family: "Tajawal", sans-serif;
  line-height: 20px;
  margin-bottom: 13px;
  margin-top: 13px;
  margin-left: 12px;
  font-size: 18px;
  opacity: 90%;
  font-weight: normal;
}


.image_intro{
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  margin-top:0px;
}
.down_container {
  font-family: "Rubik", sans-serif;
  line-height: 20px;
  margin-bottom: 60px;
  font-size: 16px;
}

.about_text {
  font-family: "Inter", sans-serif;
  margin-right: 150px;
  max-width: 1000px;
}
#introduction {
  font-weight: 400;
  line-height: 25px;
  font-size: 14px;
  text-align:justify;
}

#intro_head {
  margin-top: 100px;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 80px;
}

#head {
  margin-top: 80px;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 40px;
}

#exhibition li {
  margin-right: 10px;
  margin-left: 29px;
  list-style-type: circle;
  font-weight: 300;
  line-height: 40px;
  font-size: 15px;
}

.research {
  margin-bottom: 350px;
}

.journal_container {
  display: inline-table;
  margin-left: 350px;
  margin-right: 100px;
  margin-top: 200px;
}
.journal_title {
  text-align: center;
  margin: 0 0;
  padding-top: 300px;
  color: white;
  font-size: 40px;
  display: none;
}

.journal_7 {
  display: block;
  background-image: url("./photo/Journal/9.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1000px;
  height: 700px;
  margin-bottom: 90px;
}
.journal_7:hover .journal_title {
  display: block;
}
.journal_7:hover {
  opacity: 90%;
  display: block;
}

.journal_6 {
  display: block;
  background-image: url("./photo/Journal/14.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1000px;
  height: 700px;
  margin-bottom: 90px;
}
.journal_6:hover .journal_title {
  display: block;
}
.journal_6:hover {
  opacity: 90%;
  display: block;
}





.journal_1 {
  display: block;
  background-image: url("./photo/Journal/1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1000px;
  height: 700px;
  margin-bottom: 90px;
}
.journal_1:hover .journal_title {
  display: block;
}
.journal_1:hover {
  opacity: 90%;
  display: block;
}

.journal_5 {
  display: block;
  background-image: url("./photo/Journal/13.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1000px;
  height: 700px;
  margin-bottom: 90px;
}
.journal_5:hover .journal_title {
  display: block;
}
.journal_5:hover {
  opacity: 90%;
  display: block;
}

.journal_7 {
  display: block;
  background-image: url("./photo/Journal/15.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1000px;
  height: 700px;
  margin-bottom: 90px;
}
.journal_7:hover .journal_title {
  display: block;
}
.journal_7:hover {
  opacity: 90%;
  display: block;
}

.journal_2 {
  display: block;
  background-image: url("./photo/Journal/8.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 560px;
  height: 800px;
  margin-bottom: 90px;
  position: relative;
}
.journal_2:hover .journal_title_out {
  display: block;
}
.journal_title_out {
  width: 300px;
  text-align: left;
  margin: 0 0;
  position: absolute;
  left: 570px;
  bottom: 0px;
  color: black;
  font-size: 40px;
  display: none;
}
.journal_2:hover {
  opacity: 90%;
  display: block;
}

.journal_3 {
  display: block;
  background-image: url("./photo/Journal/5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1000px;
  height: 700px;
  margin-bottom: 90px;
}
.journal_3:hover .journal_title {
  display: block;
}
.journal_3:hover {
  opacity: 90%;
  display: block;
}

.journal_4 {
  display: block;
  background-image: url("./photo/Journal/10.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 590px;
  height: 750px;
  margin-bottom: 90px;
  position: relative;
}
.journal_4:hover .journal_title_out {
  display: block;
}

.journal_4:hover {
  opacity: 90%;
  display: block;
}

.phone_container {
  display: none;
}

@media only screen and (max-width: 600px) {
  .text_container {
    position: fixed;
    top: 20px;
    left: 25px;
  }
  #name {
    font-size: 14px;
    font-family: "Hammersmith One", sans-serif;
    margin-bottom: 50px;
  }
  .nav_pc {
    display: none;
  }

  .img_container {
    display: inline-table;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .image {
    margin-bottom: 35px;
    min-width: 180px;
  }

  .image_title {
    display: block;
    font-size: 20px;
    text-align: center;
    margin: auto 0;
  }

  .image:hover {
    opacity: 0.9;
  }
  .image:hover .image_title {
    opacity: 0.9;
  }

  .copy_right {
    color: gray;
    font-size: 8px;
    text-align: left;
    margin: 20px 20px;
  }

  .work_container {
    display: inline-table;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .image_head {
    margin-bottom: 35px;
    min-width: 180px;
  }
  .image_1_1 {
    margin-bottom: 35px;
    min-width: 180px;
  }
  .text {
    line-height: 20px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .collaberate {
    font-size: 8px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
  }
  .youtube_container {
    position: relative;
    padding-top: 52%;
    height: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .youtube_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .about_text {
    font-family: "Inter", sans-serif;
    margin-right: 35px;
    width: auto;
  }
  #introduction {
    font-weight: 300;
    line-height: 22px;
    font-size: 13px;
  }
  #intro_head {
    margin-top: 100px;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 80px;
  }

  #head {
    margin-top: 80px;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 40px;
  }

  #exhibition li {
    margin-right: 30px;
    margin-left: 15px;
    list-style-type: circle;
    font-weight: 300;
    line-height: 20px;
    font-size: 14px;
  }

  .research {
    margin-bottom: 350px;
  }

  .journal_container {
    display: none;
  }

  .phone_container {
    display: inline-table;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .icon {
    position: fixed;
    top: 45px;
    right: 35px;
    color: black;
    display: block;
  }
  .moble_container {
    background-color: whitesmoke;
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    display: none;
  }
  .close {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    font-size: 15px;
    top: 10px;
    right: 40px;
  }
  .moble_nav {
    padding: 20px 40px;
    font-family: "Rubik", sans-serif;
  }
  .moble_nav > ul > li > ul {
    display: none;
  }
}
